<link rel="stylesheet" href="./css/footer.css">
<footer>
    <div class="footer-inner">
        <div class="footer-brand">
            <a href="https://juliosalag.github.io/" target="_blank" title="Portfolio" style="text-decoration: none;">
                <div class="footer-copy">© 2026 Jsala · Todos los derechos reservados</div>
            </a>
        </div>

        <div class="footer-social">
            <a href="https://github.com/juliosalag/" target="_blank" class="social-link" title="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://x.com/juliosalag" target="_blank" class="social-link" title="X">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/julio-sala-gallardo-038867270/" target="_blank" class="social-link" title="LinkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://jsala.itch.io/" target="_blank" class="social-link" title="itch.io">
                <i class="fa-brands fa-itch-io"></i>
            </a>
            <a href="https://juliosalag.github.io/" target="_blank" class="social-link" title="Portfolio">
                <i class="fa-solid fa-globe"></i>
            </a>
        </div>
    </div>
</footer>
